.button {
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.button--large {
  font-size: 2rem;
  width: 20rem;
  height: 5rem;
}
.button--small {
  font-size: 1.4rem;
  width: 10rem;
  height: 3.5rem;
}
.button--primary {
  background: #ff9900;
}
.button--primary:hover {
  background: #db8400;
}
.button--secondary {
  background: #ff3d00;
}
.button--secondary:hover {
  background: #ce3000;
}
