.header {
  font-size: 4rem;
  color: #ff9900;
  margin-bottom: 8rem;
  margin-top: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  justify-content: center;
}
.form input {
  border: none;
  width: 100%;
  height: 4rem;
  margin: 1rem;
  font-size: 1.6rem;
  padding: 0rem 1rem;
  background: #ffffff;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
}
.textContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}
.text {
  color: white;
  font-size: 2rem;
}
.link {
  position: relative;
  text-decoration: none;
  color: #ff9900;
  font-size: 3rem;
  font-weight: lighter;
  width: 50%;
}
.link::after {
  content: "";
  top: 0rem;
  left: 0rem;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid #ff9900;
  border-radius: 0.5rem;
  opacity: 0;
  z-index: 2;
}
.link:hover::after {
  transition: 300ms;
  opacity: 0.55;
  transform: scale(1.3);
}
