.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  width: 100%;
  height: 7rem;
}
.logo {
  font-size: 5rem;
  color: #ff9900;
}
.material-icons {
  color: #ff9900;
  font-size: 48px;
}
