.container {
  /* position: relative; */
  margin: auto;
  width: 90vw;
  min-height: 80vh;
  padding: 10rem;
  /* border: 3px solid #fff; */
}
.addIcon {
  position: fixed;
}
.addIcon span {
  color: rgba(255, 255, 255, 0.76);
}
.addIcon span:hover {
  transition: 200ms;
  color: #ff9900;
  transform: scale(1.1);
}

.inputsContainer {
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
.inputsContainer input,
select {
  padding-left: 1rem;
  height: 3rem;
  background: #ffffff;
  border: none;
  box-shadow: 0rem 0.4rem 0.4rem rgb(0 0 0 / 25%);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
